.body{
    background-color: rgba(0, 0, 0, 0.864);
    color: white;
}
img{
    width: 100%;
}
p{
    font-size: 14px;
    line-height: 23px;
}
a{
    display: inline-block;
    text-decoration: none;
}
.bg-home{
    background: linear-gradient(rgba(0, 0, 0, 0.699),rgba(0, 0, 0, 0.732)), no-repeat center / cover url(./images/bg-home.jpeg);
    background-attachment: fixed;
}
.bg-destination{
    background: linear-gradient(rgba(0, 0, 0, 0.699),rgba(0, 0, 0, 0.732)), no-repeat center / cover url(./images/bg-desti.jpeg);
    background-attachment: fixed;
    min-height: 90vh;
}
.bg-about{
    background: linear-gradient(rgba(0, 0, 0, 0.699),rgba(0, 0, 0, 0.732)), no-repeat center / cover url(./images/bg-about.jpg);
    background-attachment: fixed;
    min-height: 90vh;
}
.logo{
    width: 65px;
}

.home h1{
    font-size: clamp(22px, 6vw, 45px);
    margin-bottom: 15px;
    font-family: "Matemasie", sans-serif;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}
.partenaire-img{
    display: flex;
    align-items: center;
}
.partenaire img{
    width: 150px;
}
.desti-img img{
    /* width: 350px; */
    height: 250px;
}
.desti-img{
    position: relative;
    transition: .3s ease-in-out;
}
.desti-img:hover{
    transform: translateY(-20px);
}

.desti-img h6{
    position: absolute;
    bottom: 35%;
    left: 35%;
    color: rgb(230, 220, 108);
    font-size: 18px;
    font-weight: 700;
}


.destination-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 25px 0;
}

.explore{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    background: linear-gradient(rgba(0, 0, 0, 0.484), rgba(0, 0, 0, 0.588)), no-repeat center / cover url(./images/ille-de-madelaine.jpg);
}
.explore-desti{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    background: linear-gradient(rgba(0, 0, 0, 0.484), rgba(0, 0, 0, 0.588)), no-repeat center / cover url(./images/elephant.jpg);
}
.explore-about{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    background: linear-gradient(rgba(0, 0, 0, 0.484), rgba(0, 0, 0, 0.588)), no-repeat center / cover url(./images/lac4.jpg);
}
.explore-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.explore-content h3{
    font-size: 18px;
}
.explore-content i{
    font-size: 30px;
    border-radius: 50%;
    border: 1px solid white;
    padding: 10px;
}
footer img{
    width: 200px;
}
footer h5{
    font-size: 17px;
}
footer a{
    font-size: 13px;
    margin-bottom: 10px;
    color: white;
}
footer a:hover{
    color: rgb(230, 220, 108);
}

.wtsp-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(21, 197, 21);
    padding: 25px;
    border-radius: 50px;
    text-align: center;
}
.reserve-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(253, 184, 0);
    padding: 25px;
    border-radius: 50px;
    text-align: center;
}
.wtsp-content h3{
    font-size: 16px;
}
.wtsp-content .btn-light{
    background-color: white;
    padding: 7px 19px;
}
.wtsp-content .btn-light:hover{
    color: rgb(21, 197, 21);
}
.reserve-content h3{
    font-size: 16px;
}
.reserve-content .btn-light{
    background-color: white;
    padding: 7px 19px;
}
.reserve-content .btn-light:hover{
    color: rgb(253, 184, 0);
}

.about img{
    height: 350px;
    border-radius: 20px;
}
.reservation-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    max-width: 700px;
}